.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header div {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.search input {
  padding: 10px;
  border: none;
  outline: none;
}
.container button {
  border: none;
  background-color: whitesmoke;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  font-weight: 600; 
}
.con {
  overflow: scroll;
  height: calc(100vh - 200px);
  overflow-x: hidden;
}
.con::-webkit-scrollbar {
  display: none;
}
